:root {
  --inter-font: "Inter", sans-serif;
  --lexend-font: "Lexend Deca", sans-serif;

  /* Primary */
  --very-dark-blue: hsl(233, 49%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  /* Neutral */
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
  --transition: 0.2s ease;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--dark-desaturated-blue);
}
::-webkit-scrollbar-thumb {
  background: var(--slightly-transparent-white);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--soft-violet);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit; /* -> border-box */
  padding: 0;
}

body {
  background: var(--very-dark-blue);
  color: var(--white);
  font-family: var(--inter-font);
  padding: 2rem 0.5rem;
}

main {
  display: grid;
  place-items: center;
}

.card-container {
  margin: auto;
  width: 290px;
  background: var(--dark-desaturated-blue);
  text-align: center;
  border-radius: 12px;
}
@media (min-width: 375px) {
  .card-container {
    width: 310px;
  }
}
@media (min-width: 380px) {
  .card-container {
    width: 340px;
  }
}
@media (min-width: 700px) {
  .card-container {
    width: 500px;
  }
}

.card-img {
  height: 230px;
  width: 100%;
  background: url(../images/image-header-mobile.jpg);
  border-radius: 12px 12px 0 0;
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  position: relative;
}
.card-img::after {
  content: "";
  background: var(--soft-violet);
  height: 230px;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.45;
  border-radius: 12px 12px 0 0;
}

.card-content-container {
  padding: 1.5rem 1rem;
}

.card-title {
  font-size: 1.8rem;
}
.card-title span {
  color: var(--soft-violet);
}

.card-text {
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--slightly-transparent-white);
  transition: var(--transition);
}
.card-text:hover {
  color: var(--white);
  opacity: 0.9;
}

/* Companies Section */
.card-list-container {
  display: flex;
  flex-direction: column;
}

.card-list-item {
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 1rem 0;
  transition: var(--transition);
}
.card-list-item:hover {
  color: var(--soft-violet);
}

.card-list-item-span {
  margin-top: 0.5rem;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--slightly-transparent-white);
}

.footer {
  display: block;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
  color: var(--slightly-transparent-white);
  border-top: 1px solid var(--slightly-transparent-white);
  padding-top: 1rem;
}

.footer-link {
  color: var(--soft-violet);
  text-decoration: none;
  font-family: var(--lexend-font);
  letter-spacing: 0.5px;
}
.footer-link:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  main {
    min-height: 100vh;
    position: relative;
  }

  .card-container {
    display: flex;
    width: 90%;
    max-width: 900px;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .card-content-container {
    padding: 2rem 3rem;
  }

  .card-text {
    text-align: left;
    width: 300px;
  }

  .card-list-container {
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    margin-top: 2rem;
  }

  .card-list-item {
    font-size: 1.2rem;
  }

  .card-img {
    height: auto;
    display: block;
    background: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    width: 800px;
    border-radius: 0 12px 12px 0;
  }
  .card-img::after {
    border-radius: 0 12px 12px 0;
    height: 100%;
  }
}
